extends layout

block content
  .container
    .row 
      div(class="col-md-6 offset-md-3")
        header
          h1= title
          p.version Version: มาลัยเสี่ยงรัก 1.0
          hr
        
        if message
          div(class="result alert alert-danger animated fadeIn") 
            p=message
        else 
          div(class="result alert alert-primary animated fadeIn") 
              p 80039
              p สมหญิง มานะยิ่ง (ชมพู่)
              p Marketing
        
        .back
            a(href="/" ) กลับหน้าแรก